# https://www.jetbrains.com/help/rider/Reference__Code_Inspections_CSHARP.html#NUnit

[*.cs]
# CollectionNeverUpdated.Global
resharper_collection_never_updated_global_highlighting = none

# ClassNeverInstantiated.Global
resharper_class_never_instantiated_global_highlighting = none

# UnusedAutoPropertyAccessor.Global
resharper_unused_auto_property_accessor_global_highlighting = none

# PropertyCanBeMadeInitOnly.Global
resharper_property_can_be_made_init_only_global_highlighting = none

# UnassignedGetOnlyAutoProperty
resharper_unassigned_get_only_auto_property_highlighting = none

# UnusedMethodReturnValue.Global
resharper_unused_method_return_value_global_highlighting = none
